on:
  push:
    branches:
      - master
  schedule:
    - cron:  '0 0 * * 1,3,5'
jobs:
  update-repo:
    env: 
      GH_TOKEN: ${{ github.token }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download all files in watched git repos.
        run: ./get-debs.sh

      - name: Import GPG private key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Generate apt repo
        run: ./generate-apt-repo.sh

      - name: Release
        run: ./release.sh
