on:
  push:
jobs:
  update-repo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install github-apt-repos.
        run: |
          set +x
          sudo apt update
          sudo apt install dpkg-dev apt-utils gpg libapt-pkg-dev python3-virtualenv

          cd /tmp || exit 255

          git clone https://github.com/black-desk/github-apt-repos || exit 255
          cd github-apt-repos
          make
      - name: Download all files in watched git repos.
        env: 
          GH_TOKEN: ${{ github.token }}
        run: |
          set +x

          mkdir debs || exit 255
          cat list.json | jq -r .repos[]  | xargs -I \{\} \
            gh release download -p "*" -D debs -R \{\}
      - name: Import GPG private key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Import GPG public key
        run: |
          gpg --import ./pub.key
      - name: Run github-apt-repos.
        run: |
          set +x
          source /tmp/github-apt-repos/venv/bin/activate
          /tmp/github-apt-repos/venv/bin/github-apt-repos \
            --github-delete-existing \
            --deb-dir debs \
            --github-apt-repo black-desk/ppa \
            --github-token ${{ secrets.GITHUB_TOKEN }} \
            --gpg-user-id ppa@black-desk.cn \
            --github-release-prefix=$(date +%m-%d-%y)